@font-face { font-family: Facebook Letter Faces; src: url(‘http://www.mediafont.com/storage/contents/11/font.eot’); /* IE */ src: local(‘Facebook Letter Faces’), url(‘http://www.mediafont.com/storage/contents/11/FACEBOLF.OTF’); /* non-IE */ 
    font-family:facebook, sans-serif;
    }
    
    #main-content{
      margin-top:50px;
    }
    
    
    body{
      background:#ececec;
      font-family: 'Lato', sans-serif;
    }
    
    header{
      width:100%;
        position:fixed;
      top:0;
      z-index:100;
    }
    #main-header{
      padding-top:10px;
    }
    
    .fb-blue{
      background:#3b5998;
    }
    
    .users{
       margin-top:-5px; 
    }
    .users span{
    
      font-size:1.2em;
    }
    
    
    
    
    /*---Icons---*/
    
    
    #search-icon{
     color:#fff; 
    }
    
    #menu-icon{
      color:white;
      text-align:right;
      margin:7px 65px auto;
      width:1.5em;
      height:1.5em;
      border-radius:7px;
      padding:6px 6px;
    }
    .fa-users{
      margin-left:25px;
      margin-right:15px;
        font-size:18px;
    }
    
    .fa-caret-down{
      padding:5px 15px;
     font-size:24px; 
    }
    
    #chat{
      margin:5px 30px;
        font-size:20px;
    }
    
    #menu-icon:hover{
      width:1.5em;
      height:1.5em;
      border-radius:7px;
      background:#304b84;
    }
    
    #brand{
      color:#3b5998;
      font-size:1.3em;
      text-align:left;
      width:1.8em;
      height:1.8em;
      border-radius:7px;
      background:#fff;
      padding:5px 11px;
      margin:10px -50px;
    }
    
    /*----End icon----*/
    
    .input-group-addon{
      border-left:none;
      background:none;
      border-radius:0px;
      border-top:none;
      border-bottom:1px #fff solid;
    }
    #exampleInputAmount{
      border-style:none none solid none;
      border-color:#fff;
      border-radius:0px;
      background:none;
      height:40px;
      box-shadow:none;
      width:400px;
      color:white;
    }
    
    #exampleInputAmount::-webkit-input-placeholder{
      color:#fff;
    }
    
    #exampleInputAmount:focus{
     
      box-shadow:none;
    }
    
    
    .users{
      color:#fff;
      padding-top:15px;
      font-size:1em;
      margin-left:15px;
    }
    
    /*----End header----*/
    
    /*---aside---*/
    .content{
      background:#fff;
      border-radius:3px;
      min-height:50px;
      margin-top:50px;
      border:1px solid #e2e2e2;
      padding-top:20px;
      padding-bottom:20px;
    }
    .ads{
      margin-left:30px;
    }
    
    .img-circle{
      float:left;
      margin-right:25px;
    }
    .user_name{
      margin-left:20px;
      padding-left:20px;
        font-size:1.1em;
    }
    
    .user_name > .time-stamp{
      font-size:0.8em;
      color:#999;
    }
    
    .list-unstyled{
      margin:40px 20px;
      font-size:1.1em;
      color:#5e5e5e;
      border-bottom: 1px solid #d7d7d7;
      
    }
    
    .list-unstyled span{
      
     padding-left:25px;
    }
    
    .list-unstyled li{
    position:relative;
      padding:10px 30px 15px;
      font-weight:bold;
    }
    
    .list-unstyled li:hover{
    position:relative;
      background:#e0e0e0;
      color:#2d77f9;
    }
    .list-unstyled li>i{
    position:relative;
     top:5px;
    }
    .sponsored{
      font-weight:bolder;
    }
    
    /*---text-colors--*/
    .bluetext{
      color:#0f9ce6;
    }
    .greytext{
      color:#999;
    }
    
    /*---images---*/
    .img-circle{
      width:45px;
      height:45px;
    }
    
    #image-options{
      padding:10px 20px 10px;
      min-height:30px;
      border-bottom:1px solid #ececec;
      font-weight:bold;
      color:#999;
      padding-top:20px;
    }
    
    #image-options >ul li:hover{
      color:#0f9ce6;
    }